/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @font-face {
  font-family: 'NotoSandSundanese';
  src: url('../../static/fonts/Noto_Sans_Sundanese/NotoSansSundanese-VariableFont_wght.ttf') format('ttf');
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #000000;
  --ifm-color-primary-dark: #000000;
  --ifm-color-primary-darker: #000000;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #000000;
  --ifm-color-primary-lighter: #000000;
  --ifm-color-primary-lightest: #000000;
  --ifm-background-color: #ebebeb;
  --ifm-font-family-base: 'NotoSandSundanese', sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d6d6d6;
  --ifm-color-primary-dark: #c1c1c1;
  --ifm-color-primary-darker: #b6b6b6;
  --ifm-color-primary-darkest: #969696;
  --ifm-color-primary-light: #ebebeb;
  --ifm-color-primary-lighter: #f6f6f6;
  --ifm-color-primary-lightest: #ffffff;
}


